body {
  background-color: #fdfff9;
}

.one{
  background-color: lightgreen;
}

.container.one {
  color: tomato;
}
.nav-item.active {
  text-transform: uppercase;
}
.nav-item a  {
  color: rgb(0, 8, 119);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 30px;
}

.text-content {
  background-color: tomato;
  width: 300px;
  height: 300px;
  color: #fff;
  text-transform: uppercase;
  line-height: 300px;
  text-align: center;
  margin: auto;
}